# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Java
bin/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.log
hs_err_pid*
